<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
         
        <h1>Counter</h1>
        <div class="total"><%= session.count %></div>
        <div class="times"> times.</div>
    <form action="/add2" method="post">
        <button type="submit">Add 2 Visits!</button>
    </form>

<form action="/destroy" method="post">
    <button class="btn btn-danger btn-block" type="submit" name="reset" >Reset!</button>
</form>

</body>
</html>