@{
    ViewData["Title"] = "Home Page";
}


@using dojo_survey_validation.Models
@model User

<h1>Successfully Registered!</h1>

<p>Name: @Model.Name</p>
<p>Location: @Model.Location</p>
<p>Language: @Model.Language</p>
<p>Comment: @Model.Comment</p>


