@{
    ViewData["Title"] = "Home Page";
}
@model ViewModel


<div class="container" style="width: 60%;">
    <form asp-controller="Home" asp-action="Login" method="post">
        <div class="form-group">    
        Email:   <span style="color:red;" asp-validation-for="loginUser.LogEmail"></span>  <input class="form-control"  asp-for="loginUser.LogEmail" placeholder="...limited to 255 characters"></textarea>    
        Password: <span style="color:red;" asp-validation-for="loginUser.LogPassword"></span><input type="password" asp-for="loginUser.LogPassword" class="form-control">    
        <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>

<div class="container" style="width: 60%;">
    <form asp-area="" asp-controller="Home" asp-action="Create" method="post">
        <div class="form-group">
            First Name: <span style="color:red;" asp-validation-for="regUser.First_Name" ></span><input class="form-control" type="text" asp-for="regUser .First_Name" placeholder="...min 2 letters, alpha only">
            
            Last Name: <span style="color:red;" asp-validation-for="regUser.Last_Name"></span><input class="form-control"type="text" asp-for="regUser .Last_Name" placeholder="...min 2 letters, alpha only">
            
            Email:   <span style="color:red;" asp-validation-for="regUser.Email"></span>  <input class="form-control" asp-for="regUser.Email" placeholder="...limited to 255 characters"></textarea>
            
            Password: <span style="color:red;" asp-validation-for="regUser.Password"></span><input type="password" asp-for="regUser.Password" class="form-control">

            Password Confirm: <span style="color:red;" asp-validation-for="regUser.ConfirmPassword"></span><input type="password" asp-for="regUser.ConfirmPassword" class="form-control">
            
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>