.container {
    width: 900px;
}

.edit_info {
    background-color: red;
    width: 49.5%;
    height: 60%;
    display: inline-block
}

.change_pw {
    background-color: blue;
    width: 49.5%;
    height: 60%;
    display: inline-block;
}

.edit_desc {
    background-color: green;
    width: 100%;
    height: 28%;
    display: inline-block;
}