<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Raptor Dashboard</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Raptor Dashboard</h1><br>
        <div class="main">
            <h4>All Raptors:</h4>
            <table class='table table-striped'>
                <% for (var i in raptors) { %>
                    <tr>
                        <td><a href="/raptors/<%= raptors[i]._id %>"><p><%= raptors[i].name %></p></a></td>
                    </tr>
                <% } %>
            </table>
            <a class='btn btn-primary' href="/raptors/new">Create A Raptor</a>
        </div>
    </div>
</body>
<style>
</style>
</html>