.container {
    width: 1000px;
    height: 800px;
    /* background-image: url(images/internet.png); */
    background-size: contain;
    opacity: .4;;
    outline: 1px solid red;
    padding: 25px;
    background-color: red;   
}


.wrapper {
    width: 950px;
    height: 750px;
    background-image: url(images/internet.png);
    background-size: contain;
    opacity: .4;;
    outline: 1px solid red;
    padding: 25px;
    background-color: blue;
}

.globe {
    max-width: 50px;
    position: relative;
}

.title {
    /* margin-top: 25px; */
}

/* .uppert
.titleblk
.titleblu
.lowert
.titlewht
.sidetop
.toptxt
.redtoptxt
.bluetoptxt
.button
.sidebot
.sidebottxt
.ninja
.contact
.leftcontact
.dns
.phone
.rightcontact
.smallcontact
.bigcontact
.clients
.largeblue
.cns
.cnsimg
.happens
.happenslist
.footer
.html
.foottxt */