* {
    border: 1px solid black;
    /* margin: 0 auto;
    max-width: 56em;
    padding: 1em 0; */
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 5fr 5fr 2fr;
    width: 1000px;
    height: 800px;
  }
  
  header {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
  }

  aside {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }

  main {
    grid-column: 2 / 6;
    grid-row: 2 / 4;
  }

  footer {
    grid-column: 2 / 6;
    grid-row: 4 / 6;
  }
  
  header,
  main,
  aside,
  footer {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: stretch;
  }






/* .container {
    width: 1000px;
    height: 800px;
    background-size: contain;
    opacity: .4;;
    outline: 1px solid red;
    padding: 25px;
    background-color: red;   
}


.wrapper {
    width: 950px;
    height: 750px;
    background-image: url(images/internet.png);
    background-size: contain;
    opacity: .4;;
    outline: 1px solid red;
    padding: 25px;
    background-color: blue;
}

.globe {
    max-width: 50px;
    position: relative;
} */



/* .uppert
.titleblk
.titleblu
.lowert
.titlewht
.sidetop
.toptxt
.redtoptxt
.bluetoptxt
.button
.sidebot
.sidebottxt
.ninja
.contact
.leftcontact
.dns
.phone
.rightcontact
.smallcontact
.bigcontact
.clients
.largeblue
.cns
.cnsimg
.happens
.happenslist
.footer
.html
.foottxt */