body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.box {
    margin-top: 20px;
    height: 400px;
    width: 600px;
    border: 1px solid black;
}

button {
    margin-right: 119px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.result {
    width: 100%;
    height: auto;
    background: red;
    font-size: 20px;
    margin-top: 50px;

    text-align: center;
}

form {
    width: 134px;
}

.buttons {
    display: inline-flex
}