
.results {
    position: relative;
    width: 400px;
    left: 100px;
    top: 200px;
    border: 1px solid black;
    text-align: center;
}

h4 {
    position: relative;
    width: 400px;
    left: 100px;
    top: 200px;
    border: 1px solid black;
    text-align: center;
}

h1 {
    color: red;
}

