<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Secrets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_dash/css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar navbar-dark bg-primary">
        <a class="navbar-brand">Hello {{first_name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/profile">Profile<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <!-- <a class="nav-link" href="/users/edit">Profile<span class="sr-only"></span></a> -->
            </li>
            </ul>
            <span class="navbar-text">
            <a href="/logoff">Logoff</a>
            </span>
        </div>
    </nav>
    <div class="container">
        <h3>Most Popular Secrets</h3>
        <div class="row align-items-center">
            <div class="row">
                <div class="bottom col-12 overflow">
                    <div class="form-group">
                        <ol type="1">
                            {% for secret in Secrets %}
                                <h5><li>{{secret.secret}}</li></h5>
                                <p>{{secret.created_at|timesince}} ago  -- {{secret.count_likes}} likes<p>
                                {% if user not in secret.liked_users.all %}
                                    {% if user.id != secret.uploader.id %}
                                    <form action="like" method="post">
                                        {% csrf_token %}
                                        <input type='hidden' name="user_id" value="{{request.session.user_id}}">
                                        <input type='hidden' name="page" value="secrets">
                                        <input type='hidden' name="secret_id" value="{{secret.id}}">
                                        <input type="submit" value="Like" class="btn btn-outline-primary btn-sm">
                                    </form><br>
                                    {% endif %} 
                                {% else %}
                                    <p class='liked'><b>Liked!</b></p>
                                {% endif %}
                                {% if secret.uploader.id == user.id %}  
                                    <form action="delete" method="post">
                                        {% csrf_token %}
                                        <input type='hidden' name="page" value="secrets">
                                        <input type='hidden' name="secret_id" value="{{secret.id}}">   
                                        <input type="submit" value='Delete' class='btn btn-link'>
                                    </form> 
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>   
            </div>
        </div>
        <div class="row align-items-end">
            <!-- <div class="col">
            One of three columns
            </div>
            <div class="col">
            One of three columns
            </div>
            <div class="col">
            One of three columns
            </div> -->
        </div>
    </div>
</body>
</html>