<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Index</title>
      {% load static %}
      <!-- <link rel="stylesheet" href="{% static 'django_app/css/style.css' %}">     -->
    </head>
    <body>
      <h1>Hello World!</h1>
      <p>{{email}} and {{name}}</p>

      <form action="/create" method="post">
        {% csrf_token %}
        <label for="name">Blog Name:</label>
        <input type="text" id="name" name="name" placeholder="blog name">
        <label for="desc">Description:</label>        
        <textarea id="desc" name="desc" placeholder="description"></textarea>
        <button type="submit">Submit</button>
      </form>

      {{request.session.name}}  
    </body>
  </html>
