<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="~/css/style.css"/>
        <title>Zap Brannigan</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar sticky-top navbar-dark bg-dark">
            <a class="navbar-brand" href="/">About Zapp.</a>
            <a class="navbar-brand" href="projects">Many manly accomplishments.</a>
            <a class="navbar-brand" href="contact">Get in touching with me.</a>
        </nav>

        <div class="container">
                <h1>I am the man with no name. Zapp Brannigan at your service.</h1>
                <div class="picture"> <img src="~/images/pro.jpg" alt="Italian Trulli"><h4> I surrender and volunteer for treason.</h4></div>
                <div class="about">Although he claims to be a strategic genius, Zapp Brannigan is actually an imbecile and a coward whose plans could have easily been conjured up by a child. Zapp is inexplicably well-respected throughout the universe, appearing as a Miss Universe Judge and often (ineffectively) defending Earth from attacks. Due to his stupidity and incompetence, most battles Zapp leads are lost; however, sometimes the army is lucky. Zapp doesn't care about casualties and cheerfully sends wave after wave of his own men to die in battle.  (This is most likely based on the idea that one can send more and more people to someone with a gun until it runs out of bullets.) He also apparently suffers from a learning disorder that he calls sexlexia, which is a disturbingly erotic disorder, though this may simply have been a pick-up line. The central law of DOOP, Brannigan's Law, is named after him. All this aside, he actually seemed happy for Kif after Kif had just given birth. Contrary to his robust self image, the real Zapp Brannigan has a prominent beer belly and wears a blonde toupée to hide that he is, in fact, bald. His specially designed DOOP uniform includes a revealing kilt.</div>

        </div>


    </body>
</html>
