<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Cigar Haven</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_dash/css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar navbar-dark bg-primary">
        <a class="navbar-brand">Cigar Haven</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/users/edit">Profile<span class="sr-only"></span></a>
            </li>
            </ul>
            <span class="navbar-text">
            <a href="/logoff">Logoff</a>
            </span>
        </div>
    </nav>
    <div class="container">
        <div class="greeting">
            <h3>{{first}} {{last}}</h3>
            <p>Registered at: {{created_at}}</p>
            <p>User ID: {{id}}</p>
            <p>Email: {{email}}</p>
            <p>Description: {{desc}}</p>
        </div>
        <div class="row align-items-start">
            <div class="col">
                <h2>Leave a message for {{first}}</h2>
                <form action="/show_post" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">Post your review!</span>
                        </div>
                        <textarea rows="4" cols="100" class="form-control" aria-label="With textarea" name="review"></textarea>
                    </div>
                    <input type="hidden" name="poster" value="{{id}}">
                    <input type="submit"class="btn btn-outline-primary" value="Submit"/>
                </form>
            </div>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <h1 style="color:red;"><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></h1>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="row align-items-center">
            <div class="row">
                <div class="bottom col-12 overflow">
                    <div class="form-group">
                        {% for i in Review reversed%}
                        <h5><a href="users/show/{{Review.user.id}}">{{i.0}}  {{i.1}}</a> - wrote <span class="right">{{i.3}}</span></h5>
                        {{i.2}} {{i.4}}
                            <p>
                                <form action="/comment" method="post">
                                {% csrf_token %}
                                    <input type="hidden" name="review_id" value="{{i.id}}">
                                    <textarea rows="2" cols="20" class="form-control" aria-label="With textarea" name="commentbox"></textarea>
                                    <button type="submit"class="btn btn-outline-success pull-right" value="Comment"/>Comment</button>    
                                </form>
                                <p>{% for i in Comment %}</p>
                                    {% if review.id == comment.review_id %}
                                        <ul><h5><a href="users/show/{{Comment.user.id}}">
                                            {{i.0}} {{i.1}}
                                            </a> wrote {{i.3}}</h5>
                                        <p>{{i.2}}</p></ul>
                                    {% endif %}
                                {% endfor %}        
                        {% endfor %}
                    </div>
                </div>   
            </div>
        </div>
        <div class="row align-items-end">
            <!-- <div class="col">
            One of three columns
            </div>
            <div class="col">
            One of three columns
            </div>
            <div class="col">
            One of three columns
            </div> -->
        </div>
    </div>
</body>
</html>