@{
    ViewData["Title"] = "Home Page";
}
@model wedding_planner.Models.AllModels

<h2>Register</h2>
<div class="register">
@Html.Partial("~/Views/User/Register.cshtml", Model)
</div>

<h2>Login</h2>
<div class="register">
@Html.Partial("~/Views/User/Login.cshtml", Model)
</div>